.container {
    margin-top: var(--chakra-space-8);
    margin-bottom: var(--chakra-space-12);
}
.selected {
    color: var(--chakra-colors-blue-500);
}
ul, li { 
    display: inline-block;
}
li > a {
    color: var(--chakra-colors-gray-400);
    min-width: var(--chakra-space-6);
    min-height: var(--chakra-space-6);
    border: 1px solid transparent;
    border-radius: var(--chakra-space-2);
    padding-left: var(--chakra-space-4);
    padding-right: var(--chakra-space-4);
    padding-top: var(--chakra-space-2);
    padding-bottom: var(--chakra-space-2);
}
li > a:hover {
    color: white;
    border: 1px solid var(--chakra-colors-blue-500);
}

.rc-md-editor {
    height: 100%
}